#events
    background: linear-gradient(50deg, rgba(26,26,26, 0.8), rgba(26,26,26, 0.8)), url(/img/about-img-3.jpg)
    // background: linear-gradient(50deg, rgba(28, 9, 96, 0.8), rgba(64, 22, 79, 0.8)), url(/img/about-img-3.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    display: flex
    align-items: center
    flex-direction: column

    .eventTextLarge
        display: inline-block
        color: white
        font-family: 'Roboto', sans-serif
        font-size: 30px
        margin: 10px
        font-weight: 700
        background: linear-gradient(to right, $blue 0%, $purple 100%)
        // background: linear-gradient(to right, #6C45F8 0%, #B561D5 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

    h2
        text-align: center
        color: white
        font-family: 'Roboto', sans-serif
        font-size: 30px
        margin: 10px

    h3
        text-align: center
        // color: white
        // color: #9A7FFA
        color: $purple
        // color: #A38BFA
        font-family: 'Roboto', sans-serif
        font-size: 20px
        font-weight: 400
        margin-top: 50px

    h4
        text-align: center
        color: white
        font-family: 'Roboto', sans-serif
        font-size: 16px
        font-weight: 400

    .eventImgWrap
        display: flex
        justify-content: center
        align-items: center
        margin: 20px 0

        img
            width: 300px
            cursor: pointer

    button
        position: relative
        left: 50%
        transform: translateX(-50%)
        border: none
        background: $blue
        color: white
        padding: 15px 25px
        font-family: 'Roboto', sans-serif
        font-weight: 700
        cursor: pointer
        margin-bottom: 50px
        transition: all 0.3s ease

        &:hover
            background: $stark
            color: black


@media (min-width: 1200px)
    #events

        .eventTextLarge
            font-size: 52px
            margin: 15px

        h2
            font-size: 52px
            margin: 15px

        h3
            font-size: 28px

        h4
            font-size: 20px

        .eventImgWrap

            img
                width: 500px
