.eventPageWrap
    background: $dark

    .eventPageCol

        #eventHero
            padding: 50px 30px

            .eventHeroWrapper
                padding-top: 50px
                display: flex
                justify-content: center
                align-items: center

                img
                    width: 300px

        #eventInfo
            padding: 0 30px

            h1
                font-family: 'Roboto', sans-serif
                text-align: center
                color: white

            h2
                font-family: 'Roboto', sans-serif
                text-align: center
                color: white

            p
                font-family: 'Open Sans', sans-serif
                color: white

        #eventContact
            padding: 0 30px

#eventLocation
    padding: 0 30px
    background: $dark
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 50px

    h3
        font-family: 'Roboto', sans-serif
        text-align: center
        color: white
        margin: 10px

    #map
        max-width: 800px
        height: 300px
        width: 100%

@media (min-width: 1024px)
    .eventPageWrap
        padding-top: 150px
        display: flex
        justify-content: flex-start

        .eventPageCol
            width: 50%

            #eventHero
                padding: 0

                .eventHeroWrapper
                    padding-top: 0

            #eventInfo

                h1
                    text-align: left

                h2
                    text-align: left

                p

    #eventLocation

        h3
            text-align: left
