.eventPageWrap

    .eventPageCol

        #eventHero
            padding: 50px 30px

            .eventHeroWrapper
                padding-top: 50px
                display: flex
                justify-content: center
                align-items: center

                img
                    width: 300px

        #eventInfo
            padding: 0 30px

            h1
                font-family: 'Roboto', sans-serif
                text-align: center

            h2
                font-family: 'Roboto', sans-serif
                text-align: center

            p
                font-family: 'Open Sans', sans-serif

        #eventContact
            padding: 0 30px

#eventLocation
    padding: 0 30px

    h3
        font-family: 'Roboto', sans-serif
        text-align: center

    #map
        height: 300px
        width: 100%

@media (min-width: 1024px)
    .eventPageWrap
        padding-top: 150px
        display: flex
        justify-content: flex-start

        .eventPageCol
            width: 50%

            #eventHero
                padding: 0

                .eventHeroWrapper
                    padding-top: 0

            #eventInfo

                h1
                    text-align: left

                h2
                    text-align: left

                p

    #eventLocation

        h3
            text-align: left
