footer
    padding: 50px 0
    background: linear-gradient(rgba(14, 11, 22, 1), rgba(14, 11, 22, 0)), url(/img/about-img-1.jpg)
    background-position: bottom
    background-size: cover
    background-repeat: no-repeat

    h3
        font-family: 'Roboto', sans-serif
        color: white
        text-align: center
        margin-top: 20px

    .footerRowWrap

        h4
            color: white
            font-family: 'Roboto', sans-serif
            font-weight: 400
            text-align: center
            margin-top: 20px

        .socialIcons
            display: flex
            justify-content: center
            padding: 20px 0

            a
                color: white
                padding: 0 15px
                font-size: 30px

        .mailingList
            display: flex
            justify-content: center
            flex-direction: column

            span
                color: white
                border: none
                background: #616161
                padding: 10px 25px
                font-family: 'Roboto', sans-serif
                box-sizing: border-box
                margin: 10px 50px
                font-size: 12px

            span:nth-child(2)
                margin-top: 30px

            span:nth-child(3)
                background: $blue
