#pageContact
    background: $dark
    // background: url(/img/stardust.png)

    h2
        font-family: 'Roboto', sans-serif

    p
        font-family: 'Open Sans', sans-serif

    .contactFormWrap
        display: flex
        justify-content: center
        padding: 0 20px

        form
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            margin: 5px

            input
                width: 100%
                box-sizing: border-box
                padding: 5px
                margin: 5px
                font-family: 'Roboto', sans-serif
                color: white
                background: #3c3c3c
                border: 2px solid #616161
                font-family: 'Roboto', sans-serif

                &::placeholder
                    color: white

            select
                width: 100%
                box-sizing: border-box
                padding: 5px
                margin: 5px
                font-family: 'Roboto', sans-serif
                color: white
                background: #3c3c3c
                border: 2px solid #616161
                font-family: 'Roboto', sans-serif

                &::placeholder
                    color: white

            textarea
                width: 100%
                box-sizing: border-box
                resize: none
                padding: 5px
                margin: 5px
                background: #3c3c3c
                border: 2px solid #616161
                font-family: 'Roboto', sans-serif
                color: white

                &::placeholder
                    color: white

            button
                font-family: 'Roboto', sans-serif
                font-weight: 700
                padding: 10px 25px
                background: #3c3c3c
                color: white
                float: right
                margin: 5px 0
                cursor: pointer
                border: 2px solid #616161

                &:hover
                    background: #616161

            h3
                font-family: 'Roboto', sans-serif
                font-weight: 700
                color: green

@media (min-width: 768px)
    #pageContact

        .contactFormWrap

            form
                width: 450px

@media (min-width: 1024px)
    #pageContact

        .contactFormWrap

            form
                width: 600px

@media (min-width: 1024px)
    #pageContact

        .contactFormWrap

            form
                width: 750px
