#pageAbout
    // background: url(/img/ep_naturalblack.png)
    background: $stark
    padding: 50px 0
    box-sizing: border-box

    .pageAboutCol
        padding: 0 25px

        h2
            text-align: center
            // color: white
            font-family: 'Roboto', sans-serif

        h3
            text-align: center
            // color: white
            font-family: 'Roboto', sans-serif

        h4
            text-align: center
            // color: white
            font-family: 'Roboto', sans-serif

        p
            text-align: center
            // color: white
            font-family: 'Open Sans', sans-serif

@media (min-width: 768px)
    #pageAbout
        display: flex
        justify-content: center

        .pageAboutCol
            width: 300px
            padding: 0

            h2
                text-align: left
                font-size: 50px

            h3
                text-align: left

            h4
                text-align: left

            p
                text-align: left

@media (min-width: 1024px)
    #pageAbout

        .pageAboutCol
            width: 450px
