#pageHero
    // padding: 50px 0
    // box-sizing: border-box
    height: 50vh
    display: flex
    flex-direction: column
    justify-content: center
    // background: linear-gradient(50deg, rgba(14, 11, 22, 0.5), rgba(14, 11, 22, 0.5)), url(/img/about-img-3.jpg)
    background: linear-gradient(to right, rgba(63, 176, 172, 0.6), rgba(250, 229, 150, 0.6)), url(/img/nakras-birthday-pt-2-47.jpg)
    background-size: cover
    background-repeat: no-repeat
    background-position: center

    h1
        text-align: center
        margin-top: 20px
        color: #262626
        font-family: 'Roboto', sans-serif

    h3
        text-align: center
        color: #262626
        font-family: 'Roboto', sans-serif
        font-weight: 400

@media (min-width: 768px)
    #pageHero

        h1
            font-size: 35px

        h3
            font-size: 22px
            font-weight: 400
