#sponsors
    background: $dark

    .sponsorWrap
        padding: 30px 100px


        img
            width: 100%
            margin: 20px 0
            cursor: pointer

@media (min-width: 768px)
    #sponsors

        .sponsorWrap
            display: flex
            flex-direction: row
            justify-content: space-around
            align-items: center

            img
                width: 50px
                margin: 20px

@media (min-width: 1200px)
    #sponsors
        .sponsorWrap

            img
                width: 150px
                margin: 20px
