html {
  margin: 0;
  height: 100%; }

body {
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

h1, h2, h3, h4, p {
  margin: 0; }

.desktopNav {
  display: none; }

.mobileNav {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 7; }
  .mobileNav span {
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    background: black;
    z-index: 2; }
  .mobileNav .logo img {
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    z-index: 6;
    height: 40px; }
  .mobileNav #mobileBurger {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 0px 15px;
    cursor: pointer;
    z-index: 2; }
    .mobileNav #mobileBurger span,
    .mobileNav #mobileBurger span:before,
    .mobileNav #mobileBurger span:after {
      content: "";
      display: block;
      background-color: white;
      height: 3px;
      width: 30px;
      position: relative;
      transition: all 0.3s ease-in-out; }
    .mobileNav #mobileBurger span:before {
      top: 10px; }
    .mobileNav #mobileBurger span:after {
      top: -13px; }
    .mobileNav #mobileBurger.isOpen span {
      background: transparent; }
    .mobileNav #mobileBurger.isOpen span:before,
    .mobileNav #mobileBurger.isOpen span:after {
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 0; }
    .mobileNav #mobileBurger.isOpen span:after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      top: -3px; }
  .mobileNav #mobileSlider {
    width: 100%;
    margin-top: 50px;
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    transition: all 0.7s ease-in-out;
    background: white; }
    .mobileNav #mobileSlider ul {
      margin: 0;
      padding: 0; }
      .mobileNav #mobileSlider ul li {
        list-style: none;
        padding: 10px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        .mobileNav #mobileSlider ul li a {
          text-decoration: none;
          color: black;
          width: 100%;
          font-family: 'Roboto', sans-serif;
          font-weight: 700; }

#mobileSlider.isOpen {
  -webkit-transform: translate(0);
          transform: translate(0); }

@media (min-width: 1200px) {
  .mobileNav {
    display: none; }
  .desktopNav {
    display: block;
    height: 100px;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }
    .desktopNav ul {
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px; }
      .desktopNav ul li {
        color: white;
        display: inline-block;
        font-family: 'Roboto', sans-serif; }
        .desktopNav ul li a {
          display: block;
          height: 100%;
          cursor: pointer;
          color: white;
          padding: 39.5px 30px;
          box-sizing: border-box;
          border-top: 5px solid transparent; }
          .desktopNav ul li a:hover {
            border-top: 5px solid white; }
          .desktopNav ul li a img {
            height: 80px; } }

#hero {
  padding: 50px 10px;
  background: linear-gradient(50deg, rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url(/img/about-img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh; }
  #hero span {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; }
  #hero h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0; }
    #hero h1 img {
      height: 50px; }
  #hero button {
    display: block;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 10px 35px;
    background: #3fb0ac;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease; }
    #hero button:hover {
      background: white;
      color: black; }

@media (min-width: 768px) {
  #hero {
    height: 80vh;
    background-position: center; }
    #hero span {
      font-size: 20px; }
    #hero h1 {
      font-size: 28px;
      margin: 20px; } }

@media (min-width: 1200px) {
  #hero {
    height: 80vh;
    background-position: center; }
    #hero span {
      font-size: 22px; }
    #hero h1 {
      font-size: 34px; }
      #hero h1 img {
        height: 75px; } }

#about {
  background: #dddfd4;
  padding: 50px 0; }
  #about .aboutCol {
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    #about .aboutCol h2 {
      font-family: 'Roboto', sans-serif;
      text-align: center; }
    #about .aboutCol h2:nth-child(4) {
      margin-bottom: 30px; }
    #about .aboutCol h3 {
      font-family: 'Open Sans', sans-serif;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      margin-bottom: 10px;
      overflow: hidden;
      display: inline-block; }
    #about .aboutCol h4 {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      margin-bottom: 10px; }
    #about .aboutCol p {
      font-family: 'Open Sans', sans-serif;
      text-align: center;
      margin-bottom: 30px;
      line-height: 2; }
    #about .aboutCol h2 {
      font-family: 'Open Sans', sans-serif; }
    #about .aboutCol .aboutTextLarge {
      background: linear-gradient(to right, #3fb0ac 0%, #fae596 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 24px;
      display: inline-flex;
      flex-direction: column;
      align-items: center; }
    #about .aboutCol .imgRow {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center; }
      #about .aboutCol .imgRow span svg {
        display: none;
        position: absolute;
        height: 50px;
        -webkit-filter: invert(100%);
                filter: invert(100%);
        cursor: pointer;
        z-index: 7; }
      #about .aboutCol .imgRow span img {
        width: 100%;
        margin-bottom: 10px;
        cursor: pointer;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }
      #about .aboutCol .imgRow span .filter {
        display: none;
        background: rgba(63, 176, 172, 0.6);
        box-sizing: border-box;
        height: 150px;
        width: 150px;
        position: absolute;
        cursor: pointer;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); }

@media (min-width: 768px) {
  #about {
    display: flex; }
    #about .aboutCol {
      width: 50%;
      display: block; }
      #about .aboutCol h2 {
        text-align: left; }
      #about .aboutCol h3 {
        text-align: left; }
      #about .aboutCol h4 {
        text-align: left; }
      #about .aboutCol p {
        text-align: left; }
      #about .aboutCol .aboutTextLarge {
        align-items: flex-start; }
      #about .aboutCol .imgRow {
        display: flex;
        flex-direction: row;
        justify-content: flex-end; }
        #about .aboutCol .imgRow span {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center; }
          #about .aboutCol .imgRow span svg {
            display: none;
            position: absolute;
            height: 50px;
            -webkit-filter: invert(100%);
                    filter: invert(100%);
            cursor: pointer;
            z-index: 7; }
          #about .aboutCol .imgRow span img {
            height: 150px;
            width: 150px;
            margin: 5px;
            -o-object-fit: cover;
               object-fit: cover;
            transition: all 0.1s ease-in-out;
            box-sizing: border-box; }
        #about .aboutCol .imgRow span:hover svg {
          display: block; }
        #about .aboutCol .imgRow span:hover .filter {
          display: block;
          z-index: 1; }
        #about .aboutCol .imgRow span:hover img {
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0);
          -webkit-filter: blur(3px);
                  filter: blur(3px);
          z-index: 0;
          box-shadow: 0px; } }

@media (min-width: 1024px) {
  #about .aboutCol:nth-child(1) {
    margin-left: 100px; }
  #about .aboutCol:nth-child(2) {
    margin-right: 100px; }
  #about .aboutCol h2 {
    font-size: 40px; }
  #about .aboutCol h3 {
    font-size: 32px; }
  #about .aboutCol h4 {
    font-size: 24px; } }

@media (min-width: 1200px) {
  #about .aboutCol:nth-child(1) {
    margin: 0; }
  #about .aboutCol:nth-child(2) {
    margin: 0; }
  #about .aboutCol h2 {
    font-size: 72px; }
  #about .aboutCol h3 {
    font-size: 48px; }
  #about .aboutCol h4 {
    font-size: 36px; }
  #about .aboutCol .imgRow span .filter {
    height: 300px;
    width: 300px; }
  #about .aboutCol .imgRow span img {
    height: 300px;
    width: 300px; } }

@media (min-width: 1600px) {
  #about .aboutCol:nth-child(1) {
    margin-left: 15%; }
  #about .aboutCol:nth-child(2) {
    margin-right: 15%; } }

#events {
  background: linear-gradient(50deg, rgba(26, 26, 26, 0.8), rgba(26, 26, 26, 0.8)), url(/img/about-img-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column; }
  #events .eventTextLarge {
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 10px;
    font-weight: 700;
    background: linear-gradient(to right, #3fb0ac 0%, #fae596 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #events h2 {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 10px; }
  #events h3 {
    text-align: center;
    color: #fae596;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px; }
  #events h4 {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400; }
  #events .eventImgWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; }
    #events .eventImgWrap img {
      width: 300px;
      cursor: pointer; }
  #events button {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: none;
    background: #3fb0ac;
    color: white;
    padding: 15px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 50px; }

@media (min-width: 1200px) {
  #events .eventTextLarge {
    font-size: 52px;
    margin: 15px; }
  #events h2 {
    font-size: 52px;
    margin: 15px; }
  #events h3 {
    font-size: 28px; }
  #events h4 {
    font-size: 20px; }
  #events .eventImgWrap img {
    width: 500px; } }

#photos {
  padding: 50px 30px;
  background: #dddfd4; }
  #photos h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 30px; }
  #photos .imgRow img {
    width: 100%;
    cursor: pointer; }

@media (min-width: 768px) {
  #photos .imgRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #photos .imgRow img {
      width: 100px; } }

@media (min-width: 1024px) {
  #photos .imgRow img {
    width: 150px; } }

@media (min-width: 1200px) {
  #photos .imgRow img {
    width: 200px; } }

@media (min-width: 1550px) {
  #photos .imgRow img {
    width: 300px; } }

#sponsors {
  background: #1a1a1a; }
  #sponsors .sponsorWrap {
    padding: 30px 100px; }
    #sponsors .sponsorWrap img {
      width: 100%;
      margin: 20px 0;
      cursor: pointer; }

@media (min-width: 768px) {
  #sponsors .sponsorWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    #sponsors .sponsorWrap img {
      width: 100px;
      margin: 20px; } }

@media (min-width: 1200px) {
  #sponsors img {
    width: 150px;
    margin: 20px; } }

footer {
  padding: 50px 0 80px 0;
  background: linear-gradient(#1a1a1a, rgba(26, 26, 26, 0)), url(/img/about-img-1.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat; }
  footer h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin-top: 50px; }
  footer .footerRowWrap h4 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 20px; }
  footer .footerRowWrap .socialIcons {
    display: flex;
    justify-content: center;
    padding: 20px 0; }
    footer .footerRowWrap .socialIcons a {
      color: white;
      padding: 0 15px;
      font-size: 30px; }
      footer .footerRowWrap .socialIcons a i:hover.fa-facebook-square {
        color: #3b5998; }
      footer .footerRowWrap .socialIcons a i:hover.fa-instagram {
        color: #df3967; }
      footer .footerRowWrap .socialIcons a i:hover.fa-twitter {
        color: #00aced; }
  footer .footerRowWrap .mailingList {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    footer .footerRowWrap .mailingList span {
      color: white;
      border: none;
      background: #616161;
      padding: 10px 25px;
      font-family: 'Roboto', sans-serif;
      box-sizing: border-box;
      margin: 10px 50px;
      font-size: 12px; }
    footer .footerRowWrap .mailingList span:nth-child(2) {
      margin-top: 30px; }
    footer .footerRowWrap .mailingList span:nth-child(3) {
      background: #3fb0ac; }
  footer p {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 30px 50px 0 50px; }
    footer p a {
      color: white;
      text-decoration: underline;
      cursor: pointer; }

@media (min-width: 768px) {
  footer .footerRowWrap {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 20px; }
    footer .footerRowWrap .socialFooter {
      margin: 0 30px;
      width: 200px; }
    footer .footerRowWrap .mailingList {
      margin: 0 30px;
      width: 200px; }
      footer .footerRowWrap .mailingList span {
        margin: 10px 0; } }

@media (min-width: 1200px) {
  footer .footerRowWrap .socialFooter {
    width: 300px; }
  footer .footerRowWrap .mailingList {
    width: 300px; } }

.eventPageWrap {
  /* Background pattern from Subtle Patterns */
  background: url(/img/congruent.png); }
  .eventPageWrap .eventPageCol #eventHero {
    padding: 50px 30px; }
    .eventPageWrap .eventPageCol #eventHero .eventHeroWrapper {
      padding-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .eventPageWrap .eventPageCol #eventHero .eventHeroWrapper img {
        width: 300px; }
  .eventPageWrap .eventPageCol #eventInfo {
    padding: 0 30px; }
    .eventPageWrap .eventPageCol #eventInfo h1 {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      color: white;
      font-size: 32px; }
    .eventPageWrap .eventPageCol #eventInfo h2 {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 28px;
      color: white;
      margin: 10px 0; }
    .eventPageWrap .eventPageCol #eventInfo p {
      font-family: 'Open Sans', sans-serif;
      color: white; }
  .eventPageWrap .eventPageCol #eventContact {
    padding: 0 30px; }

#eventLocation {
  padding: 50px 30px;
  /* Background pattern from Subtle Patterns */
  background: url(/img/congruent.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; }
  #eventLocation h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    margin: 10px; }
  #eventLocation #map {
    max-width: 800px;
    height: 300px;
    width: 100%; }

@media (min-width: 1024px) {
  .eventPageWrap {
    padding-top: 150px;
    display: flex;
    justify-content: flex-start;
    justify-content: center; }
    .eventPageWrap .eventPageCol:nth-child(1) {
      align-items: flex-end; }
    .eventPageWrap .eventPageCol {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .eventPageWrap .eventPageCol #eventHero {
        padding: 0; }
        .eventPageWrap .eventPageCol #eventHero .eventHeroWrapper {
          padding-top: 0; }
          .eventPageWrap .eventPageCol #eventHero .eventHeroWrapper img {
            width: 500px; }
      .eventPageWrap .eventPageCol #eventInfo {
        max-width: 650px; }
        .eventPageWrap .eventPageCol #eventInfo h1 {
          text-align: left; }
        .eventPageWrap .eventPageCol #eventInfo h2 {
          text-align: left; }
  #eventLocation h3 {
    text-align: left; } }

#eventContact {
  margin-top: 30px; }
  #eventContact .eventContactTitleDesktop {
    display: none; }
  #eventContact .eventContactTitleMobile span {
    display: block;
    background: #212121;
    color: white;
    padding: 10px 15px 0 15px; }
  #eventContact .guestListForm form, #eventContact .bottleServiceForm form {
    background: #212121;
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 50px;
    max-width: 650px; }
    #eventContact .guestListForm form input, #eventContact .bottleServiceForm form input {
      width: 100%;
      box-sizing: border-box;
      color: white;
      background: #3c3c3c;
      border: 2px solid #616161;
      padding: 5px;
      margin: 10px 0;
      font-family: 'Roboto', sans-serif; }
      #eventContact .guestListForm form input::-webkit-input-placeholder, #eventContact .bottleServiceForm form input::-webkit-input-placeholder {
        color: white; }
      #eventContact .guestListForm form input:-ms-input-placeholder, #eventContact .bottleServiceForm form input:-ms-input-placeholder {
        color: white; }
      #eventContact .guestListForm form input::-ms-input-placeholder, #eventContact .bottleServiceForm form input::-ms-input-placeholder {
        color: white; }
      #eventContact .guestListForm form input::placeholder, #eventContact .bottleServiceForm form input::placeholder {
        color: white; }
    #eventContact .guestListForm form select, #eventContact .bottleServiceForm form select {
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #616161;
      color: white;
      background: #3c3c3c;
      padding: 5px;
      margin: 10px 0;
      font-family: 'Roboto', sans-serif; }
      #eventContact .guestListForm form select::-webkit-input-placeholder, #eventContact .bottleServiceForm form select::-webkit-input-placeholder {
        color: white; }
      #eventContact .guestListForm form select:-ms-input-placeholder, #eventContact .bottleServiceForm form select:-ms-input-placeholder {
        color: white; }
      #eventContact .guestListForm form select::-ms-input-placeholder, #eventContact .bottleServiceForm form select::-ms-input-placeholder {
        color: white; }
      #eventContact .guestListForm form select::placeholder, #eventContact .bottleServiceForm form select::placeholder {
        color: white; }
      #eventContact .guestListForm form select option, #eventContact .bottleServiceForm form select option {
        width: 100%;
        color: white; }
    #eventContact .guestListForm form textarea, #eventContact .bottleServiceForm form textarea {
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #616161;
      resize: none;
      padding: 5px;
      background: #3c3c3c;
      color: white;
      font-family: 'Roboto', sans-serif;
      margin: 10px 0; }
      #eventContact .guestListForm form textarea::-webkit-input-placeholder, #eventContact .bottleServiceForm form textarea::-webkit-input-placeholder {
        color: white; }
      #eventContact .guestListForm form textarea:-ms-input-placeholder, #eventContact .bottleServiceForm form textarea:-ms-input-placeholder {
        color: white; }
      #eventContact .guestListForm form textarea::-ms-input-placeholder, #eventContact .bottleServiceForm form textarea::-ms-input-placeholder {
        color: white; }
      #eventContact .guestListForm form textarea::placeholder, #eventContact .bottleServiceForm form textarea::placeholder {
        color: white; }
    #eventContact .guestListForm form button, #eventContact .bottleServiceForm form button {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      padding: 10px 25px;
      background: #3c3c3c;
      color: white;
      float: right;
      margin: 5px 0;
      cursor: pointer;
      border: 2px solid #616161; }
      #eventContact .guestListForm form button:hover, #eventContact .bottleServiceForm form button:hover {
        background: #dddfd4;
        color: black; }

@media (min-width: 768px) {
  #eventContact .eventContactTitleDesktop {
    display: flex; }
    #eventContact .eventContactTitleDesktop span {
      display: block;
      color: white;
      box-sizing: border-box;
      padding: 10px 25px;
      border: 2px solid #212121;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      font-weight: 700; }
    #eventContact .eventContactTitleDesktop span.active {
      background: #212121;
      border: none; }
  #eventContact .guestListForm, #eventContact .bottleServiceForm {
    display: none; }
    #eventContact .guestListForm .eventContactTitleMobile, #eventContact .bottleServiceForm .eventContactTitleMobile {
      display: none; }
  #eventContact .bottleServiceForm {
    display: none; }
  #eventContact .guestListForm.active {
    display: block; }
  #eventContact .bottleServiceForm.active {
    display: block; } }

#pageHero {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, rgba(63, 176, 172, 0.6), rgba(250, 229, 150, 0.6)), url(/img/about-img-3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #pageHero h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: 'Roboto', sans-serif; }
  #pageHero h3 {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif; }

#pageAbout {
  background: #1a1a1a;
  padding: 50px 0;
  box-sizing: border-box; }
  #pageAbout .pageAboutCol {
    padding: 0 25px; }
    #pageAbout .pageAboutCol h2 {
      text-align: center;
      color: #fae596;
      font-family: 'Roboto', sans-serif; }
    #pageAbout .pageAboutCol h3 {
      text-align: center;
      color: #fae596;
      font-family: 'Roboto', sans-serif; }
    #pageAbout .pageAboutCol h4 {
      text-align: center;
      color: #fae596;
      font-family: 'Roboto', sans-serif; }
    #pageAbout .pageAboutCol p {
      text-align: center;
      color: white;
      font-family: 'Open Sans', sans-serif; }

@media (min-width: 768px) {
  #pageAbout {
    display: flex;
    justify-content: center; }
    #pageAbout .pageAboutCol {
      width: 300px;
      padding: 0; }
      #pageAbout .pageAboutCol h2 {
        text-align: left;
        font-size: 50px; }
      #pageAbout .pageAboutCol h3 {
        text-align: left; }
      #pageAbout .pageAboutCol h4 {
        text-align: left; }
      #pageAbout .pageAboutCol p {
        text-align: left; } }

@media (min-width: 1024px) {
  #pageAbout .pageAboutCol {
    width: 450px; } }

#photoGrid {
  padding-bottom: 100px;
  background: #1a1a1a; }
  #photoGrid h4 {
    text-align: center;
    margin-bottom: 50px;
    color: white;
    font-family: 'Roboto', sans-serif; }
  #photoGrid .albumGridWrap .albumImg {
    position: relative;
    overflow: hidden; }
    #photoGrid .albumGridWrap .albumImg img {
      transition: all 0.3s ease-in-out;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      cursor: pointer; }
    #photoGrid .albumGridWrap .albumImg svg {
      display: none;
      width: 35px;
      z-index: 5;
      position: absolute;
      -webkit-filter: invert(100%);
              filter: invert(100%);
      cursor: pointer;
      left: 50%;
      bottom: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    #photoGrid .albumGridWrap .albumImg .albumImgMeta {
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      -webkit-transform: translateY(100%);
              transform: translateY(100%); }
      #photoGrid .albumGridWrap .albumImg .albumImgMeta h4 {
        color: white;
        text-align: center;
        margin: 0 0 5px 0; }
      #photoGrid .albumGridWrap .albumImg .albumImgMeta p {
        color: white;
        text-align: center;
        font-family: 'Roboto', sans-serif; }
    #photoGrid .albumGridWrap .albumImg .filter {
      display: none;
      background: rgba(0, 0, 0, 0.6);
      box-sizing: border-box;
      height: 300px;
      width: 300px;
      position: absolute;
      cursor: pointer; }
    #photoGrid .albumGridWrap .albumImg:hover img {
      z-index: 1; }
    #photoGrid .albumGridWrap .albumImg:hover svg {
      display: block; }
    #photoGrid .albumGridWrap .albumImg:hover .albumImgMeta {
      display: flex;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
    #photoGrid .albumGridWrap .albumImg:hover .filter {
      display: block; }
  #photoGrid .videoGridWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #photoGrid .videoGridWrap iframe {
      width: 275px;
      margin: 10px 0;
      height: auto; }

@media (min-width: 768px) {
  #photoGrid .albumGridWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #photoGrid .albumGridWrap .albumImg {
      width: 300px;
      height: 300px;
      padding: 1px;
      box-sizing: border-box; }
  #photoGrid .videoGridWrap iframe {
    width: 560px;
    height: 315px;
    margin: 5px; } }

@media (min-width: 1024px) {
  #photoGrid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    #photoGrid .albumGridWrap {
      justify-content: flex-start;
      max-width: 900px; }
    #photoGrid .videoGridWrap {
      max-width: 1200px; } }

#pageContact {
  background: #1a1a1a; }
  #pageContact h2 {
    font-family: 'Roboto', sans-serif; }
  #pageContact p {
    font-family: 'Open Sans', sans-serif; }
  #pageContact .contactFormWrap {
    display: flex;
    justify-content: center;
    padding: 0 20px; }
    #pageContact .contactFormWrap form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 5px; }
      #pageContact .contactFormWrap form input {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        margin: 5px;
        font-family: 'Roboto', sans-serif;
        color: black;
        background: white; }
      #pageContact .contactFormWrap form textarea {
        width: 100%;
        box-sizing: border-box;
        resize: none;
        padding: 5px;
        margin: 5px;
        font-family: 'Roboto', sans-serif;
        color: black;
        background: white; }

@media (min-width: 768px) {
  #pageContact .contactFormWrap form {
    width: 450px; } }

@media (min-width: 1024px) {
  #pageContact .contactFormWrap form {
    width: 600px; } }

@media (min-width: 1024px) {
  #pageContact .contactFormWrap form {
    width: 750px; } }

#albumTitle {
  padding-top: 150px;
  background: url(/img/ep_naturalblack.png); }
  #albumTitle h1 {
    color: white;
    text-align: center;
    padding: 30px; }

#photoAlbum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(/img/ep_naturalblack.png);
  padding: 0 25px; }
  #photoAlbum .albumWrap {
    width: 100%;
    background: url(/img/ep_naturalblack.png); }
    #photoAlbum .albumWrap .slider-for img {
      width: 100%; }
    #photoAlbum .albumWrap .slider-nav img {
      margin-top: 20px;
      max-width: 100%;
      padding: 0 2.5px;
      box-sizing: border-box; }

@media (min-width: 768px) {
  #photoAlbum {
    padding: 0 150px; } }

@media (min-width: 1024px) {
  #photoAlbum {
    padding: 0 200px; } }

@media (min-width: 1200px) {
  #photoAlbum {
    padding: 0 25%; } }

.heroDivider {
  position: absolute;
  top: 52vh; }
  .heroDivider span {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8vh 100vw;
    border-color: transparent transparent #dddfd4 transparent; }

.pageHeroDivider {
  position: absolute;
  top: 42.01vh; }
  .pageHeroDivider span {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8vh 100vw;
    border-color: transparent transparent #dddfd4 transparent; }

.dividerDarkTop span {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8vh 100vw 0 0;
  border-color: #dddfd4 transparent transparent transparent; }

.dividerDarkTop.dark span {
  border-color: #1a1a1a transparent transparent transparent; }

.pageHeroDivider.dark span {
  border-color: transparent transparent #1a1a1a transparent; }

.dividerDarkBottom span {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8vh 100vw;
  border-color: transparent transparent #dddfd4 transparent; }

@media (min-width: 768px) {
  .heroDivider {
    top: 72vh; } }
